.body {
    margin: 0;
    background-image: url(https://img.freepik.com/premium-photo/flakes-nebula-cosmic-dust-space-with-charming-colorful-textures-shining-complement_449728-10493.jpg?w=740);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100dvt;
}